<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>Mandy Search</title>
	<style type="text/css">
		* {
			box-sizing: border-box;
		}

		body {
			background: -webkit-linear-gradient(to right, #00EE00, #00E5EE);
			background: linear-gradient(to right, #00EE00, #00E5EE);
		}

		a{
			text-decoration: none;
			font-size: 18px;
			color: #F9F0DA;
		}

	</style>
</head>
<body>
	<div class="item">
		<a  href="/t1?t=1" target="_blank">1</a>
		<p>
			text1
		</p>
	</div>
	<div class="item">
		<a  href="/t2?t=1" target="_blank">2</a>
		<p>
			text2
		</p>
	</div>
	<div class="item">
		<a  href="/t3?t=1" target="_blank">3</a>
		<p>
			text3
		</p>
	</div>
	<div class="item">
		<a  href="/t4?t=1" target="_blank">4</a>
		<p>
			text4
		</p>
	</div>
	<div class="item">
		<a  href="/t5?t=1" target="_blank">5</a>
		<p>
			text5
		</p>
	</div>
</body>
</html>