<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>Mandy Search</title>
	<style type="text/css">
		* {
			box-sizing: border-box;
		}

		body {
			background: -webkit-linear-gradient(to right, #C1FFC1, #AEEEEE);
			background: linear-gradient(to right, #C1FFC1, #AEEEEE);
		}

		.MandySearch {
			width: 90%;
			margin: 0 auto;
			height: 8rem;
			display: flex;
			align-items: center;
		}

		.MandySearch form {
			width: 70%;
			display: flex;
			justify-content: center;
		}

		.MandySearch a {
			font: "微软雅黑";
            font-weight: bolder;
            font-size: 30px;
            color: #3B3B3B;
		}

		.MandySearch a:hover {
			text-decoration: none;
			color: #FF8C00
		}

		.MandySearch input {
			border: none;
			outline: none;
			height: 42px;
			width: 80%;
			padding-left: 13px;
			border: 2px solid #c5464a;
			border-radius: 19px;
			background: transparent;
			font-size: 18px;
		}

		.MandySearch button {
			border: none;
			outline: none;
			font-size: 18px;
			color: #F9F0DA;

			height: 42px;
			twidth: 42px;
			cursor: pointer;
			background: #EE6A50;
			border-radius: 0 19px 19px 0;
			width: 60px;
			margin-left: -3rem;
		}

		.MandySearch button:hover {
			background-color: #CD3700;
		}

		.MandySearch button:before {
			font-size: 18px;
			color: #F9F0DA;
		}

		.main {
			width: 90%;
			margin:0 auto;
		}

		.item {
			width: 70%;
			padding: 1.5rem 0;
			border-bottom: 1px solid blue;
		}

		.item cite {
			color: #006d21;
			font-style: normal;
		}

		a {
			text-decoration: none;
			font-size: 1.5rem;
			color: #454545;
		}

		a:hover {
			text-decoration: underline;
			color: #8A2BE2;
		}

		p {
			color: #777;
		}

	</style>
</head>
<body>
	<div class="MandySearch">
		<a href="/s">Mandy</a>
		<form action="/s" method="get">
			<input value="防" name="wd" type="text">
			<button name="button_2" type="submit">GO</button>
		</form>
	</div>

	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100031266238.html" target="_blank">
			防护灭菌级防尘防细菌...
			</a><br>
			<cite>
				https://item.jd.com/100031266238.html
			</cite>
			<p>
				袋鼠医生一次性医用外科口罩100只（每10只独立包装/袋*10）三层防护灭菌级防尘防细菌
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100032668716.html" target="_blank">
			防护细菌过滤率大于95%（10只/袋*1...
			</a><br>
			<cite>
				https://item.jd.com/100032668716.html
			</cite>
			<p>
				稳健（Winner）一次性医用外科口罩灭菌级100只 三层防护细菌过滤率大于95%（10只/袋*10袋）
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100039268128.html" target="_blank">
			防护细菌过滤效率大于95%（二类医疗器械...
			</a><br>
			<cite>
				https://item.jd.com/100039268128.html
			</cite>
			<p>
				振德（ZHENDE)一次性医用外科口罩100只 舒适透气三层防护细菌过滤效率大于95%（二类医疗器械）10只/包*10
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100018298698.html" target="_blank">
			防尘防花粉防护面罩...
			</a><br>
			<cite>
				https://item.jd.com/100018298698.html
			</cite>
			<p>
				ENVΛE恩惠医疗 一次性医用外科口罩100只成人（每10只独立包装/袋*10）灭菌保暖防尘防花粉防护面罩
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100019237309.html" target="_blank">
			防晒韩式 kn95 白色50只装...
			</a><br>
			<cite>
				https://item.jd.com/100019237309.html
			</cite>
			<p>
				雅兰仕 【独立包装】一次性口罩口罩柳叶型口罩鱼嘴型kn95独立包装3D立体防晒韩式 kn95 白色50只装
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100042574625.html" target="_blank">
			防尘防花粉医用防护成人...
			</a><br>
			<cite>
				https://item.jd.com/100042574625.html
			</cite>
			<p>
				劲度 一次性医用外科口罩100只（每一只独立包装）三层外科灭菌级口罩防尘防花粉医用防护成人
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100034591865.html" target="_blank">
			防尘（二类医疗器械）工厂...
			</a><br>
			<cite>
				https://item.jd.com/100034591865.html
			</cite>
			<p>
				京东京造一次性医用外科口罩100只（每1只独立包装） 白色无菌三层外科灭菌防尘（二类医疗器械）工厂
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100027045384.html" target="_blank">
			防飞沫三层挂耳式...
			</a><br>
			<cite>
				https://item.jd.com/100027045384.html
			</cite>
			<p>
				维德（WELLDAY）一次性医用外科口罩100只（每10只独立包装*10袋）二类医疗器械无菌级防飞沫三层挂耳式
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100035128300.html" target="_blank">
			防尘防花粉（二类医疗器械）工厂...
			</a><br>
			<cite>
				https://item.jd.com/100035128300.html
			</cite>
			<p>
				京东京造 一次性医用外科口罩100只（每1只独立包装） 无菌三层外科灭菌防尘防花粉（二类医疗器械）工厂
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100011802245.html" target="_blank">
			防晒口罩防尘防细菌防柳絮防花粉骑行透气 ...
			</a><br>
			<cite>
				https://item.jd.com/100011802245.html
			</cite>
			<p>
				雅兰仕 【独立包装】 一次性医用口罩无纺布内里防晒口罩防尘防细菌防柳絮防花粉骑行透气 白色 100只
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100027547651.html" target="_blank">
			防护成人医用口罩挂耳式防粉尘防飞沫100...
			</a><br>
			<cite>
				https://item.jd.com/100027547651.html
			</cite>
			<p>
				H&K 一次性医用口罩100只三层防护成人医用口罩挂耳式防粉尘防飞沫100只/袋
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100027049227.html" target="_blank">
			防细菌防尘防花粉（10只/袋*10袋）...
			</a><br>
			<cite>
				https://item.jd.com/100027049227.html
			</cite>
			<p>
				振德（ZHENDE)一次性医用外科口罩灭菌级100只 医用灭菌口罩防细菌防尘防花粉（10只/袋*10袋）
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100013188205.html" target="_blank">
			防尘防晒防柳絮骑行透气10只*10袋...
			</a><br>
			<cite>
				https://item.jd.com/100013188205.html
			</cite>
			<p>
				海氏海诺严选 100只医用外科口罩 一次性无纺布成人口罩防尘防晒防柳絮骑行透气10只*10袋
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100017400476.html" target="_blank">
			防护口罩10只独立包装 防雾霾花粉PM2...
			</a><br>
			<cite>
				https://item.jd.com/100017400476.html
			</cite>
			<p>
				维德（WELLDAY）韩版KN95鱼型立体3D防护口罩10只独立包装 防雾霾花粉PM2.5粉尘防沙尘暴
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100017491744.html" target="_blank">
			防尘防晒透气（二类医疗器械）...
			</a><br>
			<cite>
				https://item.jd.com/100017491744.html
			</cite>
			<p>
				海氏海诺 一次性医用外科口罩 无菌三层外科灭菌口罩医用 100只独立包装 防尘防晒透气（二类医疗器械）
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/10050913413856.html" target="_blank">
			防风保暖透气防晒防病菌防尘 【蓝色100...
			</a><br>
			<cite>
				https://item.jd.com/10050913413856.html
			</cite>
			<p>
				爱心东东雅兰仕医用外科口罩一次性独立包装男女成人儿童学生通用医用口罩白色宽耳带防风保暖透气防晒防病菌防尘 【蓝色100只医用外科】独立包
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100027547623.html" target="_blank">
			防护外科口罩防尘防花粉（二类医疗器械)蓝...
			</a><br>
			<cite>
				https://item.jd.com/100027547623.html
			</cite>
			<p>
				H&K 一次性医用外科口罩100只（每1只独立包装） 三层防护外科口罩防尘防花粉（二类医疗器械)蓝色
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100032312219.html" target="_blank">
			防尘防柳絮防花粉骑行透气50只/盒 浅蓝...
			</a><br>
			<cite>
				https://item.jd.com/100032312219.html
			</cite>
			<p>
				振德（ZHENDE)口罩一次性医用外科口罩男女无纺布内里口罩防尘防柳絮防花粉骑行透气50只/盒 浅蓝独立装
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/10045265402331.html" target="_blank">
			防护鱼嘴型防尘n95 出口品质【白色40...
			</a><br>
			<cite>
				https://item.jd.com/10045265402331.html
			</cite>
			<p>
				万宝绿 kn95口罩3d立体新款时尚版柳叶型成人独立包装男潮款女高颜值四层防护鱼嘴型防尘n95 出口品质【白色40只】独立装
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100018691659.html" target="_blank">
			防护透气防尘灭菌独立包装30只/盒【冷色...
			</a><br>
			<cite>
				https://item.jd.com/100018691659.html
			</cite>
			<p>
				初医生（Dr.Chu）莫兰迪口罩一次性医疗医用外科正品三层防护透气防尘灭菌独立包装30只/盒【冷色混装】
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100032312647.html" target="_blank">
			防护成人医用 10只*10包...
			</a><br>
			<cite>
				https://item.jd.com/100032312647.html
			</cite>
			<p>
				海氏海诺 一次性医用外科口罩100只装白色 无菌三层含熔喷布平面防护成人医用 10只*10包
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100039859350.html" target="_blank">
			防尘防花粉（二类医疗器械）...
			</a><br>
			<cite>
				https://item.jd.com/100039859350.html
			</cite>
			<p>
				鱼跃（Yuwell）一次性医用外科口罩50只（每1只独立包装）无菌三层外科灭菌防尘防花粉（二类医疗器械）
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100015040863.html" target="_blank">
			防护防尘...
			</a><br>
			<cite>
				https://item.jd.com/100015040863.html
			</cite>
			<p>
				振德（ZHENDE）一次性口罩3D立体口罩 成人白色M码30只/盒 亲肤柔软修饰脸型不易勒耳 三层防护防尘
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100024003099.html" target="_blank">
			防护蓝色...
			</a><br>
			<cite>
				https://item.jd.com/100024003099.html
			</cite>
			<p>
				华拓医用外科口罩一次性独立包装50只盒装夏季薄款灭菌级成人医用防护蓝色
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100008589375.html" target="_blank">
			防护服无菌型隔离防护服连身式均码...
			</a><br>
			<cite>
				https://item.jd.com/100008589375.html
			</cite>
			<p>
				赛仁一次性医用防护服无菌型隔离防护服连身式均码
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100033071294.html" target="_blank">
			防护服医用 一次性防护服全套医用无菌医疗...
			</a><br>
			<cite>
				https://item.jd.com/100033071294.html
			</cite>
			<p>
				可孚 防护服医用 一次性防护服全套医用无菌医疗医护人员专用坐飞机连体连帽全身隔离衣大白男女通用
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100018691695.html" target="_blank">
			防护隔离服坐飞机男女通用（建议160CM...
			</a><br>
			<cite>
				https://item.jd.com/100018691695.html
			</cite>
			<p>
				藏百年 医用一次性 隔离衣新 连体式连帽衣医用防护隔离服坐飞机男女通用（建议160CM-185CM）
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100018622275.html" target="_blank">
			防护组合全套 防护服+医用手套+防护面罩...
			</a><br>
			<cite>
				https://item.jd.com/100018622275.html
			</cite>
			<p>
				可孚 医用防护组合全套 防护服+医用手套+防护面罩+护目镜+隔离鞋套
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/10026228007951.html" target="_blank">
			防护服隔离衣大白连体全身全套带帽无纺布四...
			</a><br>
			<cite>
				https://item.jd.com/10026228007951.html
			</cite>
			<p>
				康利健一次性医用防护服隔离衣大白连体全身全套带帽无纺布四件套 1套医用隔离衣【170-180】均码
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/10048447614823.html" target="_blank">
			防护服一次性医用隔离衣胶条款 带帽防水透...
			</a><br>
			<cite>
				https://item.jd.com/10048447614823.html
			</cite>
			<p>
				乐一享三 防护服一次性医用隔离衣胶条款 带帽防水透气无纺布 均码通用套装现货 1套医用隔离衣【170-180】尺码
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100015296318.html" target="_blank">
			防护服连体式无菌连帽连身连鞋套均码160...
			</a><br>
			<cite>
				https://item.jd.com/100015296318.html
			</cite>
			<p>
				赛仁医用防护服连体式无菌连帽连身连鞋套均码160-180cm
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100033175690.html" target="_blank">
			防护隔离服坐飞机男女通用（建议160CM...
			</a><br>
			<cite>
				https://item.jd.com/100033175690.html
			</cite>
			<p>
				藏百年 医用一次性 隔离衣新 胶条款连体式连帽衣医用防护隔离服坐飞机男女通用（建议160CM-185CM）
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100021321387.html" target="_blank">
			防护衣医用防护隔离服男女通用（160CM...
			</a><br>
			<cite>
				https://item.jd.com/100021321387.html
			</cite>
			<p>
				良世医医用一次性隔离衣 胶条款连体式连帽衣 防护衣医用防护隔离服男女通用（160CM-185CM）【胶条款】
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100019801875.html" target="_blank">
			防护组合全套装 防护服+医用手套+防护面...
			</a><br>
			<cite>
				https://item.jd.com/100019801875.html
			</cite>
			<p>
				可孚 医用防护组合全套装 防护服+医用手套+防护面罩+护目镜+隔离鞋套+kn95口罩
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100013854276.html" target="_blank">
			防护服 一次性隔离衣 夏季透气 连体拉链...
			</a><br>
			<cite>
				https://item.jd.com/100013854276.html
			</cite>
			<p>
				百舸 防护服 一次性隔离衣 夏季透气 连体拉链式 防液体男女通用隔离服 【均码 160-180】
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/10048447614826.html" target="_blank">
			防护服一次性医用隔离衣胶条款 带帽防水透...
			</a><br>
			<cite>
				https://item.jd.com/10048447614826.html
			</cite>
			<p>
				乐一享三 防护服一次性医用隔离衣胶条款 带帽防水透气无纺布 均码通用套装现货 1套医用【170-180】尺码
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100025967155.html" target="_blank">
			防护套装防护服+面罩+护目镜+医用防护口...
			</a><br>
			<cite>
				https://item.jd.com/100025967155.html
			</cite>
			<p>
				赛仁防护套装防护服+面罩+护目镜+医用防护口罩+手套+鞋套
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100035702000.html" target="_blank">
			防护服手术服飞机上穿男女白色 185...
			</a><br>
			<cite>
				https://item.jd.com/100035702000.html
			</cite>
			<p>
				诺仪一次性医用隔离衣隔离服连体式防护服手术服飞机上穿男女白色 185
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100025696594.html" target="_blank">
			防护服透气防尘蓝色防护服工作服 SMS隔...
			</a><br>
			<cite>
				https://item.jd.com/100025696594.html
			</cite>
			<p>
				慎固 一次性SMS无纺布隔离衣反穿衣螺纹袖口防护服透气防尘蓝色防护服工作服 SMS隔离衣【常规款1件】
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/10048447614824.html" target="_blank">
			防护服一次性医用隔离衣胶条款 带帽防水透...
			</a><br>
			<cite>
				https://item.jd.com/10048447614824.html
			</cite>
			<p>
				乐一享三 防护服一次性医用隔离衣胶条款 带帽防水透气无纺布 均码通用套装现货 1套医用隔离衣【180-185】尺码
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100036477516.html" target="_blank">
			防护服隔离衣连体式GB19082标准无菌...
			</a><br>
			<cite>
				https://item.jd.com/100036477516.html
			</cite>
			<p>
				诺仪医用一次性防护服隔离衣连体式GB19082标准无菌型飞机上穿民用蓝色+白色170
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100036477562.html" target="_blank">
			防护服隔离衣连体式GB19082标准无菌...
			</a><br>
			<cite>
				https://item.jd.com/100036477562.html
			</cite>
			<p>
				诺仪医用一次性防护服隔离衣连体式GB19082标准无菌型180
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100045639639.html" target="_blank">
			防护服全套医用无菌医疗医护人员隔离大白防...
			</a><br>
			<cite>
				https://item.jd.com/100045639639.html
			</cite>
			<p>
				一次性防护服全套医用无菌医疗医护人员隔离大白防护服男女通用
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100018691703.html" target="_blank">
			防护服隔离男女通用（建议160-185c...
			</a><br>
			<cite>
				https://item.jd.com/100018691703.html
			</cite>
			<p>
				藏百年 医用一次性 隔离衣新 连脚胶条款 连体式连帽衣含脚套医用防护服隔离男女通用（建议160-185cm)
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100024233819.html" target="_blank">
			防护服 一次性防护隔离衣 欧盟CE认证 ...
			</a><br>
			<cite>
				https://item.jd.com/100024233819.html
			</cite>
			<p>
				京东京造 防护服 一次性防护隔离衣 欧盟CE认证 男女通用连体式 180cm
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100035463236.html" target="_blank">
			防护隔离服带帽防水透气连体式 男女通用【...
			</a><br>
			<cite>
				https://item.jd.com/100035463236.html
			</cite>
			<p>
				秝客lefeke一次性医用隔离衣医用防护隔离服带帽防水透气连体式 男女通用【胶条款】（160-180cm）
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100037329523.html" target="_blank">
			防护服透气防尘蓝色防护服工作服 SMS隔...
			</a><br>
			<cite>
				https://item.jd.com/100037329523.html
			</cite>
			<p>
				慎固 一次性SMS无纺布隔离衣反穿衣螺纹袖口防护服透气防尘蓝色防护服工作服 SMS隔离衣【独立包装】套餐一
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100036477564.html" target="_blank">
			防护服隔离衣连体式GB19082标准无菌...
			</a><br>
			<cite>
				https://item.jd.com/100036477564.html
			</cite>
			<p>
				诺仪医用一次性防护服隔离衣连体式GB19082标准无菌型185
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100025696616.html" target="_blank">
			防护服透气防尘蓝色防护服工作服 SMS隔...
			</a><br>
			<cite>
				https://item.jd.com/100025696616.html
			</cite>
			<p>
				慎固 一次性SMS无纺布隔离衣反穿衣螺纹袖口防护服透气防尘蓝色防护服工作服 SMS隔离衣【常规款100件】
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100017094184.html" target="_blank">
			防护服连体式无菌型透气成人防护服 1件独...
			</a><br>
			<cite>
				https://item.jd.com/100017094184.html
			</cite>
			<p>
				元棉 一次性医用防护服连体式无菌型透气成人防护服 1件独立包装 尺码185#
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100025696596.html" target="_blank">
			防护服透气防尘蓝色防护服工作服 SMS隔...
			</a><br>
			<cite>
				https://item.jd.com/100025696596.html
			</cite>
			<p>
				慎固 一次性SMS无纺布隔离衣反穿衣螺纹袖口防护服透气防尘蓝色防护服工作服 SMS隔离衣【常规款50件】
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100034836248.html" target="_blank">
			防护 隔离服连帽 透气防水 无纺布连体式...
			</a><br>
			<cite>
				https://item.jd.com/100034836248.html
			</cite>
			<p>
				HANASS 医用一次性隔离衣 医用防护 隔离服连帽 透气防水 无纺布连体式 男女通用升级胶条款（160-180cm）
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100028243969.html" target="_blank">
			防护服连脚套 无菌型 医用隔离衣隔离服 ...
			</a><br>
			<cite>
				https://item.jd.com/100028243969.html
			</cite>
			<p>
				元棉 一次性医用防护服连脚套 无菌型 医用隔离衣隔离服 连体式连帽男女通用175cm
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100036477536.html" target="_blank">
			防护服隔离衣连体式GB19082标准无菌...
			</a><br>
			<cite>
				https://item.jd.com/100036477536.html
			</cite>
			<p>
				诺仪医用一次性防护服隔离衣连体式GB19082标准无菌型175
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100031982856.html" target="_blank">
			防应急包 旅行车用急救 z-002小红...
			</a><br>
			<cite>
				https://item.jd.com/100031982856.html
			</cite>
			<p>
				正比例家庭护理应急包 急救包家用18类88件 便携急救包 外伤急救包 消防应急包 旅行车用急救 z-002小红
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/10057424245917.html" target="_blank">
			防战备家庭常备医药箱包企业定制家用药箱便...
			</a><br>
			<cite>
				https://item.jd.com/10057424245917.html
			</cite>
			<p>
				广渤急救包应急医疗包人防战备家庭常备医药箱包企业定制家用药箱便携车载户外救援 A001伤口清理套餐（共7样83组件）
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/10030566365228.html" target="_blank">
			防水防潮 方便携带】...
			</a><br>
			<cite>
				https://item.jd.com/10030566365228.html
			</cite>
			<p>
				中拓医疗（ZOTOYL）急救包家用车载应急包户外旅行地震救援便携小型包套装医药 绿色【大容量收纳 防水防潮 方便携带】
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100039308308.html" target="_blank">
			防护包 学生复工防控用品物资口罩酒精便携...
			</a><br>
			<cite>
				https://item.jd.com/100039308308.html
			</cite>
			<p>
				海氏海诺卓护 医疗防护包 学生复工防控用品物资口罩酒精便携应急健康包急救包慰问礼包
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/10055576605572.html" target="_blank">
			防役包批发 升级款灰色...
			</a><br>
			<cite>
				https://item.jd.com/10055576605572.html
			</cite>
			<p>
				学生开学旅行医药包便携家庭户外医疗包药品收纳包健康防役包批发 升级款灰色
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100042574313.html" target="_blank">
			防护全套装...
			</a><br>
			<cite>
				https://item.jd.com/100042574313.html
			</cite>
			<p>
				可孚 药箱套装家用药品收纳盒带药医疗急救包企业学校户外车载医药箱包含10种必需品 家庭防护全套装
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/10055576605580.html" target="_blank">
			防役包批发 升级款灰色防护六件套...
			</a><br>
			<cite>
				https://item.jd.com/10055576605580.html
			</cite>
			<p>
				学生开学旅行医药包便携家庭户外医疗包药品收纳包健康防役包批发 升级款灰色防护六件套
			</p>
		</div>
	</div>
	<div class="main">
		<div class="item">
			<a href="https://item.jd.com/100035498151.html" target="_blank">
			防护包68件套装 上班上学复工复产应急收...
			</a><br>
			<cite>
				https://item.jd.com/100035498151.html
			</cite>
			<p>
				蓝帆医疗 防护包68件套装 上班上学复工复产应急收纳包便携防水出行送礼神器 电子体温计碘伏酒精药盒 可定制
			</p>
		</div>
	</div>
	<script>
		var keyword = "防"
		var doc = document.querySelectorAll("p")
		var doc2 = document.querySelectorAll("a")
		for(let i = 0; i < doc.length; i++) {
			doc[i].innerHTML = doc[i].innerText.split(keyword).join(`<span style="color: red;">${keyword}</span>`)
			doc2[i].innerHTML = doc2[i].innerText.split(keyword).join(`<span style="color: red;">${keyword}</span>`)
		}
	</script>
</body>
</html>